// colors:
$color-text: #313131;
$color-text-alt: #f4f4f4;
$color-internal-link: #2D2AE4;

// button
$color-btn-background: #3f51b5;
$color-btn-background-hover: #303f9f;
$color-btn-text: #fff;

// background colors
$color-front-background: #fafafa;
$color-body-background: #ECECEC;

// borders:
$border-window: 1px solid #dce0e0;

// transitions:
$transition-default: all 0.2s ease-in-out;

// shadows:
$box-shadow-card: 2px 2px 10px rgba(0, 0, 0, 0.2);

// fonts:
$font-family-p: "Fira Sans", sans-serif;
$font-size-p: 14px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: $color-internal-link;
}

body {
    background: $color-body-background;
    color: $color-text;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-text;
    font-family: $font-family-p;
}

// displaying navbar with buttons and logo
.navbar {
    display: flex;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: $color-front-background;

    .navbar-title {
        font-size: 22px;
        padding: 0 20px;
        color: $color-text;
        text-decoration: none;
    }

    .navbar-spacer {
        flex-grow: 2;
    }

    .navbar-btn {
        height: 100%;
        padding: 0 20px;
        text-decoration: none;
        color: $color-text;
        transition: $transition-default;
        font-size: $font-size-p;
    }

    .navbar-btn:hover {
        color: $color-internal-link;
    }
}


.main-container {
    max-width: 100%;
    width: 900px;
    margin-top: 50px;
    border: $border-window;
    background: $color-front-background;
    margin: 50px auto;
    min-height: 400px;
    padding: 40px 40px;
    box-shadow: $box-shadow-card;
}


.votes-container {
    max-width: 100%;
    width: 750px;
    border: $border-window;
    margin: 0 auto;
    padding: 20px;
}

.vote {
    min-height: 50px;
    line-height: 50px;
}


.vertical-options {
    display: flex;
    flex-flow: column;
    width: 500px;
    margin: 30px auto;
}

.vote-option {
    margin: 5px 0;
}

.btn-submit {
    margin-top: 30px;
    background-color: $color-btn-background;
    color: $color-front-background;
    border: none;
    height: 40px;
    line-height: 40px;
    transition: $transition-default;
    border-radius: 3px;
    font-size: $font-size-p;
    width: 100%;
    cursor: pointer;
    transition: $transition-default;
}

.btn-submit:hover {
    background-color: $color-btn-background-hover;
    cursor: pointer;
}

.card-signup {
    background: $color-front-background;
    border: $border-window;
    box-shadow: $box-shadow-card;
    width: 500px;
    max-width: 100%;
    padding: 40px 40px;
    margin: 40px auto;
}

.card-title {
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

.vertical-fields {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 220px;
}

.vertical-fields input {
    margin-bottom: 20px;
    width: 100%;
}

input[type="text"] {
    font-family: $font-family-p;
    font-size: $font-size-p;
    color: $color-text;
}

label {
    font-family: $font-family-p;
    font-size: $font-size-p;
    color: $color-text;
}

/*  UTILITIES */
@import "_utilities";