// colors:
$color-text: #212121;
$color-text-alt: #f4f4f4;
$color-internal-link: #2D2AE4;

// borders:
$border-window: 1px solid #ccc;

// transitions:
$transition-default: all 0.2s ease-in-out;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: $color-internal-link;
}

// displaying navbar with buttons and logo
.navbar {
    display: flex;
    width: 100%;
    height: 50px;
    line-height: 50px;

    .navbar-title {
        font-size: 22px;
        flex-grow: 2;
        padding-left: 20px;
    }

    .navbar-btn {
        height: 100%;
        padding: 0 20px;
        text-decoration: none;
        color: $color-text;
        transition: $transition-default;
    }

    .navbar-btn:hover {
        color: $color-internal-link;
    }
}


.votes-container {
    max-width: 100%;
    width: 750px;
    border: $border-window;
    margin: 0 auto;
    padding: 20px;
}

.vote {
    min-height: 50px;
    line-height: 50px;
}