{{define "frontPage"}}
<!DOCTYPE HTML>

<head>
    <title> GoVote </title>
    <link rel="stylesheet" type="text/css" href="/public/css/main_min.css" />
</head>


<body>

    {{template "navbar" .}}

    <div class="main-container">
        <h1 class="card-title">Latest pools</h1>
        <div class="pool-container">
            {{range .Pools}}
            <div class="pool">
                <a class="pool-title" href="/pool/{{.ID}}">{{.Title}}</a>
                <p class="pool-details">
                    Votes: {{.NumOfVotes}}, Submitted by <a href="/u/{{.Author}}">{{.Author}}</a>, {{.Time}} ago
                </p>
            </div>
            {{end}}
        </div>
        <!-- pagination-->
        {{template "pagination" .}}
    </div>

</body>


</html>
{{end}}