{{define "newPool"}}
<!DOCTYPE HTML>

<head>
    <title> New pool </title>
    {{template "styles"}}
</head>

<body>
    {{template "navbar" .}}
    <div class="main-container">
        <h1 class="card-title">Create new pool</h1>

        <div class="vertical-fields new-post">
            <form method="post">
                <div class="new-post-title">
                    <label>Pool title:</label><br/>
                    <textarea placeholder="Insert pool title" name="poolTitle">{{.Title}}</textarea>
                    <label class="error-message">{{.TitleError}}</label>
                </div>

                <label class="margin-b-10">Vote Options:</label>
                <div id="vote-options" class="new-pool-options">
                    <input type="text" placeholder="Option 1" name="option-1" />
                    <input type="text" placeholder="Option 2" name="option-2" />
                    <input type="text" placeholder="Option 3" name="option-3" />
                </div>
                <label class="error-message">{{.VoteOptionsError}}</label>
                <button id="vote-add-option" class="btn-default" type="button">Add Option</button>

                <br/>
                <br/>

                <button class="btn-submit" type="submit"> Submit Question </button>
            </form>
        </div>
    </div>
</body>

<script src="/public/js/newPool.js"></script>

</html>
{{end}}