{{define "editPool"}}
<!DOCTYPE HTML>

<head>
    <title> New pool </title>
    {{template "styles"}}
</head>

<body>
    {{template "navbar" .}}
    <div class="main-container">
        <h1 class="card-title">Edit pool</h1>

        <div class="vertical-fields new-post">
            <form method="post">
                <div class="new-post-title">
                    <label>Pool title:</label><br/>
                    <textarea placeholder="Insert pool title" name="poolTitle">{{.Title}}</textarea>
                </div>

                <label class="margin-b-10">Vote Options:</label>
                <div id="vote-options" class="new-pool-options">
                    {{range $i, $el := .Options}}
                    <input type="text" placeholder="Option {{$i}}" name="option-{{$i}}" value="{{index $el 0}}" />
                    <!-- -->
                    {{end}}
                </div>
                <button id="vote-add-option" class="btn-default" type="button">Add Option</button>

                <br/>
                <br/>

                <button class="btn-submit" type="submit"> Edit Pool </button>
            </form>
        </div>
    </div>
</body>

<script src="/public/js/newPool.js"></script>

</html>
{{end}}