<!DOCTYPE HTML>

<head>
    <title>{{.Username}}</title>
    {{template "styles"}}
</head>

<body>
    {{template "navbar"}}

    <div class="main-container">
        <h1 class="card-title">{{.Username}}</h1>
        <h2> User pools </h2>
        {{range .Pools}}
        <div class="pool">
            <a class="pool-title" href="/pool/{{.ID}}">{{.Title}}</a>
            <p class="pool-details">
                Votes: {{.NumOfVotes}}, Submitted {{.Time}} ago
            </p>
        </div>
        {{end}}
    </div>
</body>

</html>