<!DOCTYPE HTML>

<head>
    <title> Voting application </title>
    <link rel="stylesheet" type="text/css" href="/public/css/main_min.css" />
</head>


<body>

    {{template "navbar"}}

    <!-- display votes here -->
    <form method="post">
        <label>Insert your question:</label><br/>
        <textarea placeholder="Insert your question"></textarea>

        <label>Possible Answers:</label>
        <div id="vote-answers">
            <input type="text" placeholder="Option 1" />
            <input type="text" placeholder="Option 2" />
            <input type="text" placeholder="Option 3" />
        </div>
        <button id="vote-add-answer" type="button">Add Answer</button>

        <br/>
        <br/>

        <button type="submit"> Submit Question </button>
    </form>

    <div class="main-container">
        {{range .}}
        <div class="vote">
            <a href="/view/{{.ID}}">{{.Title}}</a>
        </div>
        {{end}}
    </div>

</body>

<script src="/public/js/main.js"></script>

</html>