<!DOCTYPE HTML>

<head>
    <title>{{.Title}}</title>
    {{template "styles"}}
</head>


<body>
    {{template "navbar"}}

    <div class="main-container">

        <h1>{{.Title}} </h1>

        <form class="vertical-options">
            {{range $i, $e := .Option}}
            <div class="row vote-option">
                <input id="{{$i}}" type="radio" value="{{$e}}" name="voteOption">
                <label for="{{$i}}">{{$e}}</label>
            </div>
            {{end}}
            <button class="btn-vote" type="submit"> Vote </button>
        </form>


        <h2> Results </h2>
    </div>


</body>

</html>